<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATM</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<input id="sid" type="hidden" th:value=${sid}/>
<div id="atm_wrapper">
    <div id="atm_header">
        <!--        <a href="https://www.jfmango.top/" target="_parent">Club Runner</a>-->
    </div> <!-- end of templatemo_header -->

    <div id="atm_member">
        <ul id="atm_ul"></ul>
    </div>

    <div id="atm_main">
        <div id="atm_main_title">
            <img class="image_fl_left image_pick"
                 src="https://game.gtimg.cn/images/lol/act/img/champion/Annie.png"
                 alt="image 1"/>
        </div>
        <div id="atm_select">
            <div id="atm_left">
                <div class="content_box">
                    <div class="atm_hero left_4"></div>
                    <div class="atm_hero left_3">
                    </div>
                    <div class="atm_hero left_1">
                        <img class="image_fl_left"
                             src="https://game.gtimg.cn/images/lol/act/img/champion/Annie.png"
                             alt="image 1"/>
                        <h4>mango</h4>
                        <h5>恶魔小丑</h5>
                    </div>
                    <div class="atm_hero left_2">
                    </div>
                    <div class="atm_hero left_5">
                    </div>
                </div>
            </div>
            <div id="atm_right">
                <div class="content_box">
                    <div class="content_box">
                        <div class="atm_hero right_4"></div>
                        <div class="atm_hero right_3">
                        </div>
                        <div class="atm_hero right_1">
                            <img class="image_fl_right"
                                 src="https://game.gtimg.cn/images/lol/act/img/champion/Annie.png"
                                 alt="image 1"/>
                            <h4>mango</h4>
                            <h5>恶魔小丑</h5>
                        </div>
                        <div class="atm_hero right_2">
                        </div>
                        <div class="atm_hero right_5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar_box last_box">
            <button onclick="startGame()"></button>
        </div>
        <br/>
    </div>

    <div id="atm_footer">
        Copyright © 2048 <a href="#">ATM</a> |
        Designed by <a href="https://www.jfmango.top/" target="_parent">mango</a> |
    </div> <!-- end of footer -->

</div>
<!--<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>-->
</body>
<script type="text/javascript" src="/js/atm.js"></script>
</html>